<%= form_with(model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div class="flash-alert">
      <strong>Erro ao criar o contato:</strong>
      <ul>
        <% @contact.errors.each do |message| %>
          <li><%= message.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :name, type:"text", class:"form-control",  placeholder:"Nome" %>
    <%= form.label :name, for:"contact_name" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :email, type:"email", class:"form-control", placeholder:"E-mail" %>
    <%= form.label :email, for:"contact_email" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :phone, type:"text", class:"form-control", placeholder:"Telefone" %>
    <%= form.label :phone, for:"contact_phone" %>
  </div>  
  
  <%= form.fields_for :address do |address_form| %>

    <h3>Endereço</h3>

    <div class="form-floating mb-3">
      <%= address_form.text_field :cep, type:"text", class:"form-control", placeholder:"CEP" %>
      <%= address_form.label :cep, for:"contact_address_attributes_cep" %>
    </div> 

    <div class="row">
      <div class="col-lg-6">
        <div class="form-floating mb-3">
          <%= address_form.text_field :street, type:"text", class:"form-control", placeholder:"Logradouro" %>
          <%= address_form.label :street, for:"contact_address_attributes_street" %>
        </div> 
      </div>

      <div class="col-lg-3">
        <div class="form-floating mb-3">
          <%= address_form.text_field :number, type:"text", class:"form-control", placeholder:"Número" %>
          <%= address_form.label :number, for:"contact_address_attributes_number" %>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-floating mb-3">
          <%= address_form.text_field :complement, type:"text", class:"form-control", placeholder:"Complemento" %>
          <%= address_form.label :complement, for:"contact_address_attributes_complement" %>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="col-lg-4">
        <div class="form-floating mb-3">
          <%= address_form.text_field :neighborhood, type:"text", class:"form-control", placeholder:"Bairro" %>
          <%= address_form.label :neighborhood, for:"contact_address_attributes_neighborhood" %>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-floating mb-3">
          <%= address_form.text_field :city, type:"text", class:"form-control", placeholder:"Cidade" %>
          <%= address_form.label :city, for:"contact_address_attributes_city" %>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-floating mb-3">
          <%= address_form.text_field :uf, type:"text", class:"form-control", placeholder:"Estado" %>
          <%= address_form.label :uf, for:"contact_address_attributes_uf" %>
        </div>
      </div>
    </div>

  <% end %>

  <%= form.submit 'Enviar', class:"btn btn-primary" %>
  <%= link_to 'Voltar', contacts_path, class:"btn btn-secondary" %>
<% end %>

<script> 

  document.addEventListener("DOMContentLoaded", function () {

    const cepInput = document.getElementById("contact_address_attributes_cep");
    const streetInput = document.getElementById("contact_address_attributes_street");
    const neighborhoodInput = document.getElementById("contact_address_attributes_neighborhood");
    const cityInput = document.getElementById("contact_address_attributes_city");
    const ufInput = document.getElementById("contact_address_attributes_uf");

    cepInput.addEventListener("blur", function(event) {

      const zipCode = event.target.value;
      if (zipCode.length === 8) {
        const formData = new FormData();
        formData.append('contact[address_attributes][cep]', zipCode);

        fetch('<%= search_address_path %>', {
          method: 'POST',
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (!data.body.erro) {
              cepInput.value = data.body.cep;
              streetInput.value = data.body.logradouro;
              neighborhoodInput.value = data.body.bairro;
              cityInput.value = data.body.localidade;
              ufInput.value = data.body.uf;
            } else {
              alert("CEP não encontrado")
            }
          })
        .catch((error) => {
          console.error("Erro na requisição", error);
        });
      }
    })
  })

</script>
