<h1>Lista de contatos.</h1>
<%= link_to 'Criar novo contato', new_contact_path %>

<% @contacts.each do |contact| %>
    <%= contact.name %>
    <%= contact.phone %>

    <%= link_to 'Ver detalhes', contact_path(contact) %>
    <%= link_to 'Editar', edit_contact_path(contact) %>
   
<% end %>